KF/KFTest/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/KFWCFServiceLibrary/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KFWCFServiceLibrary.Models" />
  <xs:element name="CalculateInsurance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KFWCFServiceLibrary.Models" minOccurs="0" name="insuranceCalc" nillable="true" type="q1:InsuranceCalc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateInsuranceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KFWCFServiceLibrary.Models" minOccurs="0" name="CalculateInsuranceResult" nillable="true" type="q2:InsuranceCalc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KFWCFServiceLibrary.Models" minOccurs="0" name="GetCarResult" nillable="true" type="q3:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsurances">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsurancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KFWCFServiceLibrary.Models" minOccurs="0" name="GetInsurancesResult" nillable="true" type="q4:ArrayOfInsurance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExcess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExcessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KFWCFServiceLibrary.Models" minOccurs="0" name="GetCustomerResult" nillable="true" type="q5:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KFWCFServiceLibrary.Models" minOccurs="0" name="GetOffersResult" nillable="true" type="q6:ArrayOfInsuranceCalc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KFWCFServiceLibrary.Models" minOccurs="0" name="insuranceCalc" nillable="true" type="q7:InsuranceCalc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOfferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOfferResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>